* {
    font-family: 'Times New Roman', serif;
}

div{
    border: 1px dotted grey;
}

.weather-degrees {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.weather-list-field {
    display: flex;
    justify-content: space-between;
    background-color: #a8b1b3;
    color: white;
    font-size: 0.8em;
    margin: 10px 30px 10px 30px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.weather-city {
    flex-grow: 1;
    flex-basis: 500px;
}

.weather-main {
    flex-grow: 1;
    flex-basis: 440px;
    padding: 10px 30px 10px 30px;
}

.weather-info {
    flex-grow: 1;
    flex-basis: 500px;
}

.weather-list-field {
    flex-grow: 1;
    flex-basis: 0;
}

.top-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.down-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-city-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 30px 10px 30px;
}

.weather-there {
    padding: 0 30px 0 30px;
}

.update-button {
    text-align: center;
}

.weather-favourite {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}